body{
  background-image: linear-gradient(rgb(187, 187, 250),pink ,rgb(197, 166, 171) ,rgb(252, 246, 246) );
  background-repeat: no-repeat;
 height: 100vh;
 width: 100%;
  /* background-color: blueviolet; */
}
.header{
  text-align: center;
  text-shadow: 3px 3px rgb(4, 249, 228);
}

button{
  margin: 20px;
  color: black;
  background-color: rgb(163, 248, 248);
  border: 2px solid black;
  border-radius: 45px ;
  font-size: larger;
  padding: 20px;
}
button:hover{
  background-color: aqua;
}
.box{
  display: flex;
  justify-content: space-around;
}
.con{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}